body{
    background-color: navy;
    color: #f00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.b1
{
    background-color: #0ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 5px solid #0f0;
    width: 900px;
    font-size: 14px;
    padding: 10px;
    border-bottom: 5px solid #ff0;
    border-top: 5px solid #ff0;
}


.b2
{
    background-color: #0ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 5px solid #0f0;
    width: 900px;
    font-size: 12px;
    padding: 15px;
    border-bottom: 10px solid #ff0;
    border-top: 10px solid #ff0;


}


.b3
{
    background-color: #0ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 20px solid #ff0;
    width: 900px;
    font-size: 10px;
    padding: 20px;
    

}