body
{
    background-color: #5fafaf;
}





.ax1
{
border: 1px solid red;
margin-left: 50px;
}


.ax2
{
border: 1px solid red;
margin-left: 50px;
}


.ax3
{
width: 30%;
border: 1px solid red;
margin-left: 50px;
}